@tailwind base;
@tailwind components;

.center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.x-center {
    @apply left-1/2 -translate-x-1/2
}

.detail-container {
    @apply bg-black text-white border-2 border-white fixed flex space-x-8 items-center justify-center px-10 pt-3 pb-0 rounded z-10 min-h-[60vh] max-h-[calc(100vh-4rem)]
}

.detail-heading {
    @apply text-[2.25vh] sm:text-[2.5vh] md:text-[2.75vh] lg:text-[3vh]
}

.detail-text {
    @apply text-[2vh] sm:text-[2.25vh] md:text-[2.5vh] lg:text-[2.75vh]
}

.main-heading {
    @apply md:text-lg lg:text-xl xl:text-2xl fixed font-semibold
}

.primary-button {
    @apply inline-block rounded bg-custom-gradient from-blue-600 to-red-600 hover:from-blue-700 hover:to-red-700 px-3 py-1 w-fit text-white text-sm sm:text-base md:text-xl font-semibold mx-2.5
}

.secondary-button {
    @apply rounded text-white bg-green-500 border border-white hover:bg-green-600
}

.tertiary-button {
    @apply rounded text-green-500 bg-white border border-green-500 hover:text-white hover:bg-green-500 hover:border-white
}

.ability {
    @apply bg-black text-white px-3 py-1 cursor-pointer capitalize
}

.bullet {
    @apply fixed bg-red-500 -translate-x-1/2 -translate-y-1/2 p-1 rounded-full z-20 transition-all ease-linear duration-[1900ms]
}

@font-face {
    font-family: starwars;
    src: url(../fonts/Starjedi.woff);
}

@tailwind utilities;

* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:fullscreen,
::backdrop {
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.75);
}